Alexander Monk <krenair@gmail.com>
Bartosz Dziewoński <matma.rex@gmail.com>
Brooke Vibber <bvibber@pobox.com>
Brooke Vibber <bvibber@pobox.com> <bvibber@wikimedia.org>
Brooke Vibber <bvibber@pobox.com> <brion@wikimedia.org>
Brooke Vibber <bvibber@pobox.com> <brion@pobox.com>
Ed Sanders <esanders@wikimedia.org> <ejsanders@gmail.com>
James D. Forrester <jforrester@wikimedia.org>
Roan Kattouw <roan.kattouw@gmail.com>
Timo Tijhof <krinkle@fastmail.com> <krinklemail@gmail.com>
